In [1]:
import os
import numpy as np
import cv2
import matplotlib.pyplot as plt

import random 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

import pandas as pd

In [2]:
dir = 'G:\AIE\AIE SEM4\MIS-4\Project\ColorClassification'
categories = ['orange','Violet','red','Blue','Green','Black','Brown','White']

In [3]:
data = []

In [4]:
for category in categories:
    path = os.path.join(dir,category)
    label = categories.index(category)
    
    for img in os.listdir(path):
        imgpath = os.path.join(path,img)
        image = cv2.imread(imgpath)
        try:
            image = cv2.resize(image,(50,50)) 
            image = np.array(image).flatten()
                                                     
            data.append([image,label])
        except Exception as e:
            pass

In [5]:
lenofimage = len(data)
print(lenofimage)

107

In [6]:
random.shuffle(data)
features = []
labels = []


for feature, label in data:
    features.append(feature)
    labels.append(label)

In [7]:
xtrain, xtest, ytrain, ytest = train_test_split(features, labels, test_size=0.25)

In [8]:
model = SVC(C=1, kernel='linear',gamma = 'auto')
model.fit(xtrain, ytrain)

SVC(C=1, gamma='auto', kernel='linear')

In [9]:
prediction = model.predict(xtest)
accuracy = model.score(xtest,ytest)
print(accuracy)

0.9629629629629629

In [10]:
result = pd.DataFrame({'original' :ytest ,'predicted' : prediction})

In [11]:
result

    original  predicted
0          7          7
1          6          6
2          0          0
3          3          3
4          7          7
5          3          3
6          0          6
7          1          1
8          1          1
9          2          2
10         5          5
11         3          3
12         7          7
13         1          1
14         6          6
15         6          6
16         2          2
17         7          7
18         0          0
19         1          1
20         6          6
21         0          0
22         0          0
23         4          4
24         4          4
25         5          5
26         4          4